{% extends 'base.html.twig' %}



{% block body %}
<br>
<br>
<br>
<h1> A propos</h1>
<p>Projet de WEB réalisé par Timothé Paolini et Clément BONNOT dans le cadre d'un projet.
Ce projet a été réalisé durant le 3ème semestre à l'IUT Informatique de Bordeaux.</p>

{% endblock %}
