{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <br>
    <br>   
    <p> 
    <u>Accueil</u> 
    <br>
    Site Web réalisé dans le cadre d'un projet de programmation WEB par des 
    étudiants de l'université de Bordeaux
    <br>
    <h3Présentation</h3>
    <p>Page d'accueil présentant le site 
    Connexion
    Page amenant sur le formulaire de connexion
    Inscription
    <p>Page amenant sur le formulaire d'inscription
    Series
    <p>Page présentant toutes les series avec possibilité de recherche par nom, date, en fonction des avis...<p>
    Mes series
    Page présentant les séries suivis par l'utilisateur (TODO)
    </p>
{% endblock %}
